@font-face {
    font-family: 'Sanchez-Light';
    src: url('webfonts/20EAD5_0_0.eot') format('embedded-opentype'),url('webfonts/20EAD5_0_0.woff') format('woff'),url('webfonts/20EAD5_0_0.ttf') format('truetype');
}
body {margin:0; padding: 0; background: #0099CC url('texture.jpg');}
.container {width:520px; margin: 0 auto;}
.header {background: #0099CC url('texture.jpg'); position:fixed; box-shadow: 0 20px 20px -25px black;}
h1.logo {margin:0; text-align:center; padding:0;font:normal 82px/140px'Sanchez-Light', Helvetica, Arial; letter-spacing: -3px; color: #FFF; background-color: #0099CC url('texture.jpg');width: 520px;}
.video {width:520px; height:269px; margin: 0 auto;text-align:center;padding-bottom: 20px;}
.tweets {padding-top: 460px; width:470px; margin: 0 auto 1000px auto;}
.tweet {margin: 0 0 30px 0; padding: 0px 20px;  }
.tweet p {margin:0 0 0 58px; padding:0; font:normal 16px/21px Helvetica,Arial,Sans-serif;color: #FFF;}
.tweet p a {font:normal 16px/21px Helvetica,Arial,Sans-serif;color: #FFF; text-decoration:underline;}
.tweet .fullname a {text-decoration:none; font:normal 12px/12px Helvetica,Arial,Sans-serif;color: #69BFE8;}     
.tweet img {margin-right: 10px; float:left; margin-top: 6px; border-radius: 5px 5px 5px 5px;}
.well {background-color: #46B8DF;border-radius: 10px; padding: 14px 20px; }
.well .fullname a {text-decoration:none; font:normal 12px/12px Helvetica,Arial,Sans-serif;color: #FFF;}
.prev {position:fixed; top:250px; left: 50%; margin-left: -290px; color: #FFF; text-decoration:none; font: normal 2em/1em arial;}
.next {position:fixed; top:250px; left: 50%; margin-left: 258px; color: #FFF; text-decoration:none; font: normal 2em/1em arial;}
a:hover.prev {color: #46B8DF}
a:hover.next {color: #46B8DF}
